body{
    background-color: lightgoldenrodyellow;
}

h1{
    font-size: 30px;
    color: teal;
}

h2{
    font-size: 20px;
    color: rgb(204, 201, 18);
}

.big{
    font-size: 10px;
    color: #2a64c34f;
}

.uppercase{
    text-transform: uppercase;
}

.big.uppercase{
    font-size: 40px;            
}

.exclusive{
    color: rgb(233, 20, 20);
}